<!-- Welcome message -->
<section class="welcome">
  <!-- <img src="" alt=""> -->
  <div>
    <h1>
      Welcome, <%= account.information.firstName %> <%=
      account.information.lastInitial %>!
    </h1>
    <p>
      Ready for another day in Los Santos? Let's dive in and make some memories.
    </p>
  </div>
</section>

<section class="container">
  <h2>Roleplay Tools</h2>

  <div class="buttons">
    <a href="#">
      <span class="material-symbols-outlined">dvr</span>
      <p>CAD/MDT</p>
    </a>
    <a href="#">
      <span class="material-symbols-outlined">gavel</span>
      <p>DOJ</p>
    </a>
    <a href="#">
      <span class="material-symbols-outlined">dvr</span>
      <p>CAD/MDT</p>
    </a>
  </div>
</section>
